<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDV - <%= stardewcrop.name %></title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1><%= stardewcrop.name %></h1>
    <p>Time to grow: <%= stardewcrop.growth_days %> days</p>
    <p>Season: <%= stardewcrop.season %></p>
</body>
</html>